@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap");

$body-font: "Montserrat", sans-serif;
$header-font: "Montserrat Alternates", sans-serif;

$layout-large: 120em;
$layout-medium: 76.8em;
$layout-small: 48em;

$copy-margin: 2rem 0;
$module-padding: 2rem;

$brand--neutral: #316cb3;
$brand--dark: #234d80;

$brand--alt--neutral: #786fd8;
$brand--alt--dark: #2b2380;

$body-color: #000000;
$light-color: #ffffff;
$border-color: #808080;
$background-color: #f8f8ff;
